* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* ==========================================
            HEADER RELATED STYLE            
=========================================== */

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;


}
.banner h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 175px;
}
.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 20px auto 0;
    width: 632px;
    height: 190px;
}

/* ==========================================
            BODY RELATED STYLE            
=========================================== */

.discount {
    margin: 120px auto 50px;
}
.discount .offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount .tagline {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.discount p {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}


.new-year-img img {
    width: 800px;
    height: 500px; 
    margin: 0 auto 120px auto;
    display: block;
}


.party-invitation {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: 0 auto 120px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.party-invitation .text h2 {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 25px;
}
.party-invitation .text p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.party-invitation .text .join-button {
    color: #FFF;
    background: rgb(0, 0, 0);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 25px;
    border: 0;
}


.party-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin: 0 auto 240px auto;
}
.party-info .date-time-place {
    width: 550px;
    height: 170px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.party-info .date-time-place .diff {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
.party-info .date-time-place p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
 .party-info .join-btn {
    width: 170px;
    height: 60px;
    margin-top: 48px;
    padding: 16px 32px;
    align-items: center;
    border: 0;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}


.offer-coming-soon {
    width: 1320px;
    height: 500px;
    align-items: center;
    margin: 240px auto;
    display: flex;
    justify-content: space-around;
}
.offer-coming-soon .new-offer {
    padding-right: 120px;
}
.offer-coming-soon .new-offer h4 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.offer-coming-soon .new-offer h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.offer-coming-soon .new-offer p {
    color: rgba(7, 2, 17, 0.60);
    width: 395px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.offer-coming-soon .celebration-photo img {
    width: 360px;
    height: 360px;
    border-radius: 360px;
    border: 15px solid #F00;
}
.offer-coming-soon .new-year-deal {
    padding-left: 120px;
}
.offer-coming-soon .new-year-deal h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.offer-coming-soon ,.new-year-deal p {
    color: rgba(7, 2, 17, 0.60);
    width: 270px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.offer-coming-soon ,.new-year-deal img {
    width: 140px;
    height: 140px;
    margin-top: 45px;
    padding-left: -50px;
}


.holiday-sale {
    margin: 0 auto 140px auto;
    width: 1320px;
}

.holiday-sale .holiday-sale-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.holiday-sale .holiday-sale-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}
.holiday-sale .holiday-sale-text .holiday {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
}
.holiday-sale .holiday-sale-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    width: 1068px;
    height: 96px;
    text-align: center;
    margin: 0 auto 60px auto;
}
/* .holiday-sale .holiday-sale-image  {
    display: inline-block;
} */
/* }  
.holiday-sale .holiday-sale-image .red-block {

}
.holiday-sale .holiday-sale-image .surprise-box {
   
}
.holiday-sale .holiday-sale-image .half-discount {
    
}
.holiday-sale .holiday-sale-image .excited-girl {
    
} */

.portfolio {
    margin: auto;
    width: 1330px;

}
.portfolio .gifts h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio .gifts h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.portfolio .gifts p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 895px;
    height: 65px;
    margin-bottom: 50px;
}
.portfolio img {
    width: 420px;
    height: 450px;
    padding: 10px;
    border-radius: 16px;
}


.newslater {
    width: 1320px;
    height: 620px;
    margin: 120px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newslater .subscription {
    margin: auto;
    padding-top: 80px;
    text-align: center;
}
.newslater .subscription h2 {
    color: #070211;
    text-align: center;
    margin-top: 40px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.newslater .subscription p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    margin: 22px auto 50px auto;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 895px;
}
.newslater .newslater-sub input {
    width: 450px;
    height: 72px;
    border: 0;
    border-radius: 50px 0 0 50px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    margin-left: 330px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.newslater .newslater-sub button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}
